<div class="my-fancy-nav-wrapper">
  <ul class="nav">
    <li class=""><a href="https://www.mondopesca.it">News</a></li>

    <li class="nav-dropdown">
      <div class="nav-dropdown">
        <a href="https://www.mondopesca.it/tag/pesca/">Pesca</a>
        <div class="nav-dropdown-content">
          <div class="nav-dropdown-content-column">
            <div class="menuLabel">Riva</div>
            <ul>
              <li>
                <a href="https://www.mondopesca.it/tag/pesca/">Surfcasting</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/Spinning/">Spinning</a>
              </li>
              <li>
                <a
                  href="https://www.mondopesca.it/tag/Rockfishing/"
                >Rockfishing</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/Dalla-riva/">Dalla riva</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/Eging/">Eging</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/Shore-jigging/">Shore
                  jigging</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/Gare/">Gare</a>
              </li>
              <li>
                <a
                  href="https://www.mondopesca.it/tag/Protagonisti/"
                >Protagonisti</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/News/">News</a>
              </li>
            </ul>
          </div>
          <div class="nav-dropdown-content-column">
            <div class="menuLabel">Barca</div>
            <ul>
              <li>
                <a href="https://www.mondopesca.it/tag/Bolentino/">Bolentino</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/Traina/">Traina</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/Drifting/">Drifting</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/Big-game/">Big game</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/Vertical/">Vertical</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/Tataki/">Tataki</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/Gare/">Gare</a>
              </li>
              <li>
                <a
                  href="https://www.mondopesca.it/tag/Protagonisti/"
                >Protagonisti</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/News/">News</a>
              </li>
            </ul>
          </div>
          <div class="nav-dropdown-content-column">
            <div class="menuLabel">Acque interne</div>

            <ul>
              <li>
                <a href="https://www.mondopesca.it/tag/Spinning/">Spinning</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/Carpa/">Carpa</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/Feeder/">Feeder</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/Gare/">Gare</a>
              </li>
              <li>
                <a
                  href="https://www.mondopesca.it/tag/Protagonisti/"
                >Protagonisti</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/News/">News</a>
              </li>
            </ul>
          </div>
          <div class="nav-dropdown-content-column">
            <div class="menuLabel">Apnea</div>

            <ul>
              <li>
                <a href="https://www.mondopesca.it/tag/Gare/">Gare</a>
              </li>
              <li>
                <a
                  href="https://www.mondopesca.it/tag/Protagonisti/"
                >Protagonisti</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/News/">News</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </li>

    <li class="nav-dropdown">
      <div class="nav-dropdown">
        <a href="https://www.mondopesca.it/tag/nautica/">Nautica</a>
        <div class="nav-dropdown-content">
          <div class="nav-dropdown-content-column">
            <div class="menuLabel">Nautica</div>

            <ul>
              <li>
                <a href="https://www.mondopesca.it/tag/Barche/">Barche</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/Gommoni/">Gommoni</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/Motori/">Motori</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/Meteo/">Meteo</a>
              </li>
              <li>
                <a
                  href="https://www.mondopesca.it/tag/Navigazione/"
                >Navigazione</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/Cantieri/">Cantieri</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/Porti/">Porti</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/tag/nautica-news/">News</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>

    <li class="nav-dropdown">
      <div class="nav-dropdown">
        <a href="https://www.mondopesca.it/">Rivista</a>
        <div class="nav-dropdown-content">
          <div class="nav-dropdown-content-column">
            <div class="menuLabel">Rivista</div>

            <ul>
              <li>
                <a
                  href="https://www.mondopesca.it/tag/Editoriali/"
                >Editoriali</a>
              </li>
              <li>
                <a href="https://www.mondopesca.it/Download/">Download</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </li>
    <li class=""><a href="https://www.mondopesca.it/contatti">Contatti</a></li>

    <!-- Loop through the navigation items -->
    {{!-- {{#foreach navigation}}
                      {{#match label "Gare"}}
                        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">STOGAZZOOOO</a></li>
                    {{/match}}
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}} --}}
    <!-- End the loop -->
  </ul>
</div>